p Please fill in below form!
div
	form(action='/login', method='post')
		div
			input(id='username', type='text', placeholder='...')
		div
			input(id='password', type='password')
		div 
			input(id='sbmt', type='submit', value='Submit')	


